<!DOCTYPE html>
<html>
<body>
<div id="map" style="width:1400px;height:800px;background:yellow"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>
<script>


var planes = {} //hash para markers por codigo de vuelo marker.setPosition(latlng);
var airports = {}
var airportPaths = {}
var flights = {}
var flightPaths = {}
var flightdata = {}
var airwindows = {}
var planewindows = {}
var anterior = {};

function angulo(lat1, lon1, lat2, lon2){
  return (Math.PI + Math.atan2((lon2-lon1), (lat2-lat1))) *  180 / Math.PI + 180;
}

function airport_window(codigo, nombre, ciudad){
  var str = '<div id="content">'+
              '<div id="siteNotice">'+
              '</div>'+
              '<h2 id="firstHeading" class="firstHeading">'+ nombre+ '</h2>'+
              '<div id="bodyContent">'+
              '<p>Código Aeropuerto: <b>'+codigo+'</b></p>'+
              '<p>Ciudad: <b>'+ciudad+'</b></p>'+
              '</div>'+
              '</div>';
  return new google.maps.InfoWindow({
  	content: str
  });
}

function flight_window(codigo, modelo, asientos, airline, lat, long){
  var str = '<div id="content">'+
              '<div id="siteNotice">'+
              '</div>'+
              '<h1 id="firstHeading" class="firstHeading"> Vuelo: '+codigo+'</h1>'+
              '<div id="bodyContent">'+
              '<p>Modelo avión: <b>'+modelo+'</b></p>'+
              '<p>Asientos: <b>'+asientos+'</b></p>'+
              '<p>Aerolinea: <b>'+airline+'</b></p>'+
              '<p>Posición: [lat: <b>'+lat+' </b>, long: <b>'+long+'</b>]</p>'+
              '</div>'+
              '</div>';
  return new google.maps.InfoWindow({
  	content: str
  });
}

function plane_icon(rot) {
return {
   path: 'M 196.91 25.3815C 196.97 -8.6185 248.219 -8.6185 248.185 26.3395L 248.185 169.031L 447.949 289.095L 447.949 341.812L 249.144 276.382L 249.144 383.029L 295.152 418.973L 295.152 460.667L 224.225 438.621L 153.298 460.667L 153.298 418.973L 198.827 383.029L 198.827 276.382L 0 341.812L 0 289.095L 196.91 169.031L 196.91 25.3815z',
   fillColor: 'black',
   fillOpacity: 0.5,
   scale: 0.075,
   strokeColor: 'black',
   strokeWeight: 1,
   rotation: rot,
   anchor: new google.maps.Point(230.3335, 223.9745)
 }
}

function bound(map, markers){
  var bounds = new google.maps.LatLngBounds();
for (var i in markers) {
  bounds.extend(markers[i].getPosition());
}
  map.fitBounds(bounds);
}

function myMap() {
  var mapOptions = {
      center: new google.maps.LatLng(-34, -67),
      zoom: 5,
      mapTypeId: google.maps.MapTypeId.HYBRID
  }
  var map = new google.maps.Map(document.getElementById("map"), mapOptions);

  var airport_icon = {
      url: "https://image.flaticon.com/icons/svg/76/76497.svg",
      scaledSize: new google.maps.Size(35, 35),
      anchor: new google.maps.Point(16, 16)};

  const socket = io('ws://integracion-tarea-3.herokuapp.com',
      {path: "/flights",reconnect: true,transports: ['websocket', 'polling']});

  socket.emit("AIRPORTS");
  socket.on("AIRPORTS", function(aero) {
    for (var a in aero){
      (function(air){
      //if (!(air in airports)){
        //console.log(airports);
        airports[air] = new google.maps.Marker({
    			position: (new google.maps.LatLng(aero[air].airport_position[0],
    																				aero[air].airport_position[1])),
    			map: map,
          icon: airport_icon
    		});
        airwindows[air] = airport_window(air, aero[air].name, aero[air].city);
    		airports[air].addListener('mouseover', function() {
    							airwindows[air].open(map, airports[air]);
    						});
        airports[air].addListener('mouseout', function() {
            airwindows[air].close();
          });
      //}
    })(a);
    }
    bound(map, airports)
  });

  socket.emit("FLIGHTS");
  socket.on("FLIGHTS", function(vuelos){
    var color = '#C8FE2E';
    vuelos.forEach( function(vuelo) {
      if (!(vuelo.code in airportPaths)){
        flightdata[vuelo.code] = vuelo;
        airportPaths[vuelo.code] = new google.maps.Polyline({
        								  path: [{lat: vuelo.origin.airport_position[0],
                                lng: vuelo.origin.airport_position[1]},
                  							{lat: vuelo.destination.airport_position[0],
                                lng: vuelo.destination.airport_position[1]}
                                ],
  								        geodesic: true,
        								  strokeColor: '#FF0000',
        								  strokeOpacity: 0.1,
        								  strokeWeight: 15
        							   });
        airportPaths[vuelo.code].setMap(map);
      }
      //if (!(vuelo.code in flightPaths)){
        flightPaths[vuelo.code] = [];
        flights[vuelo.code] = new google.maps.Polyline({
        								path: flightPaths[vuelo.code],
        								geodesic: true,
        								strokeColor: color,
        								strokeOpacity: 1,
        								strokeWeight: 5
        							});
        flag = true;
        color = '#A9F5BC';
        flights[vuelo.code].setMap(map);
      //}
    });
  });

  socket.on("POSITION", function(f) {
    if (!(f.code in planes)){
      planes[f.code] = new google.maps.Marker({
        position: (new google.maps.LatLng(f.position[0], f.position[1])),
        icon: plane_icon(angulo(f.position[0], f.position[1],
                flightdata[f.code].destination.airport_position[0], flightdata[f.code].destination.airport_position[1])),
        map: map,
        optimized: false
      });
      planewindows[f.code] = flight_window(f.code, flightdata[f.code].plane, flightdata[f.code].seats,
                                    flightdata[f.code].airline, f.position[0], f.position[1]);
      planes[f.code].addListener('mouseover', function() {
                planewindows[f.code].open(map, planes[f.code]);
              }); // aviones segun vuelo y sus posiciones
      planes[f.code].addListener('mouseout', function() {
          planewindows[f.code].close();
        });
      flightPaths[f.code].push({lat: f.position[0], lng: f.position[1]})
      flights[f.code].setPath(flightPaths[f.code]);
      anterior[f.code] = [f.position[0], f.position[1]]

    } else {
      planes[f.code].setPosition(new google.maps.LatLng(f.position[0], f.position[1]))
      flightPaths[f.code].push({lat: f.position[0], lng: f.position[1]})
      planes[f.code].setIcon(plane_icon(angulo(f.position[0], f.position[1],
              flightdata[f.code].destination.airport_position[0], flightdata[f.code].destination.airport_position[1])))
      flights[f.code].setPath(flightPaths[f.code]);
      if (Math.abs(f.position[0] - anterior[f.code][0]) > 5 || Math.abs(f.position[1] - anterior[f.code][1]) > 5){

        flights[f.code].setMap(null)
        delete(flights[f.code])
        airportPaths[f.code].setMap(null)
        delete(airportPaths[f.code])

        planes[f.code].setMap(null)
        google.maps.event.clearInstanceListeners(planes[f.code])
        delete(planewindows[f.code])
        delete(planes[f.code])

        airports[flightdata[f.code].destination.airport_code].setMap(null)
        google.maps.event.clearInstanceListeners(airports[flightdata[f.code].destination.airport_code])
        delete(airwindows[flightdata[f.code].destination.airport_code])
        delete(airports[flightdata[f.code].destination.airport_code])

        delete(flightPaths[f.code])
        delete(flightdata[f.code])

        delete(airportPaths[f.code])

        socket.emit("FLIGHTS");
        socket.emit("AIRPORTS");
      }

    }
  });

}

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIlDXnmb2ic_s1oU2pD71AF8qW8i-vQt4&callback=myMap"></script>
</body>
<html>
